.nav-header1.right
  %p1
    %lable 你好,
    %lable
    =@name
  =link_to  "退出登录",:action => 'logout'
%h2 活动通
%div(class='title-bar container')
  %h4
    活动信息
    .right
      活动展示
%table(class="table table-hover table-bordered" style="margin:auto; width:79%")
  %thead
    %tr
      %td 编号
      %td 活动名称
      %td 报名人数
      %td 竞价次数
  %tbody
    - counter = 1
    -@activities.each do |t|
      %tr
        %td(align="center" style="width:25%" valign="middle")
          = counter
          -counter=counter+1
        %td(align="center" style="width:25%" valign="middle")
          = t['name']
        %td(align="center" style="width:25%" valign="middle")
          = t['sign_up_num']
        %td(align="center" style="width:25%" valign="middle")
          = t['bid_num']
%input#code_logout(value="#{@code}" style="display:none" )
.right-padding
  = will_paginate @activities ,{:previous_label =>'上一页',:next_label => '下一页'}
:javascript
  $(document).ready(function(){
     is_logout();
  })
  function is_logout(){
     var code = document.getElementById('code_logout').value
     console.log('--------code_logout-->' + code);
     $.ajax({
         url:'/code/logout/'+code,
         method:'get',
         success:success_call_back,
         error:error_call_back
     })
  }
  function success_call_back(response){
     console.log(response)
     if(response == 'logout'){
     window.location.href = 'http://192.168.1.130:3000' }
     else {
        setTimeout('is_logout()',2000)
     }
  }
  function error_call_back(error){
     console.log(error)
  }